*,
*::after,
*::before {
  box-sizing: border-box;
  display: block;
  margin: 0;
}

head,
script,
style {
  display: none;
}

html {
  background: linear-gradient(#76ee7a, #91f194);
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #fff;
}

main {
  flex: 1 1 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > * + * {
  margin-top: 1.6rem;
}

div {
  display: flex;
}

div > * + * {
  margin-left: 1rem;
}

h1 {
  max-width: 30ex;
  text-align: center;
}

img[src='./glu-logo.png'] {
  width: 16rem;
  margin-bottom: -1rem;
}

button {
  display: flex;
  align-items: center;
  position: relative;
  background: transparent;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;
  padding: 0.62rem 1rem;
  font-size: 1.38rem;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.18);
  transform: translate(0, -3px);
}

button:active {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
}

svg {
  width: 1.62rem;
  height: 1.62rem;
  fill: #fff;
  margin-right: 0.62rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.062);
  color: rgba(0, 0, 0, 0.2);
  padding: 0.62rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
}
