*,
*::after,
*::before {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

head,
script,
style {
  display: none;
}

html {
  background: linear-gradient(#333, #222);
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.62);
}

main {
  flex: 1 1 100%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.062);
  color: rgba(0, 0, 0, 0.5);
  padding: 0.62rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
}
