*,
*::after,
*::before {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1;
  outline: none;
}

head,
script,
style {
  display: none;
}

html {
  /* background: linear-gradient(#333, #222); */
  background: #222;
}

body {
  display: flex;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.62);
}

main {
  flex: 1 1 100%;
}

body::-webkit-scrollbar {
  width: 0;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  cursor: pointer;
}
