*,
*::after,
*::before {
  box-sizing: border-box;
  display: block;
  margin: 0;
  padding: 0;
}

head,
script,
style {
  display: none;
}

html {
  background: linear-gradient(#333, #222);
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: rgba(255, 255, 255, 0.62);
}

main:not(:empty) + header {
  display: none;
}

header {
  flex: 1 1 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header > * + * {
  margin-top: 5vmin;
}

div {
  display: flex;
}

div > * + * {
  margin-left: 1rem;
}

h1 {
  font-size: 2.4vmin;
  line-height: 162%;
  max-width: 40ex;
  text-align: center;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.38);
}

h6 {
  font-size: 2vmin;
  letter-spacing: 0.3vmin;
  font-weight: lighter;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.38);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 5vmin 2vmin;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: transparent;
  border: 0;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-weight: bold;
  padding: 3vmin 4vmin;
  font-size: 3vmin;
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  opacity: 0.8;
}

button:hover {
  box-shadow: 0 6px 0 0 rgba(0, 0, 0, 0.18);
  transform: translate(0, -3px);
  opacity: 1;
}

button:active {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  transform: translate(0, 0);
}

svg {
  width: 1.62rem;
  height: 1.62rem;
  fill: #fff;
  margin-right: 0.62rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.062);
  color: rgba(0, 0, 0, 0.5);
  padding: 0.62rem;
  font-family: monospace;
  font-weight: bold;
  font-size: 1.2rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
}

button img {
  width: 8vmin;
}

button span {
  width: 100%;
  text-align: center;
  margin-top: 2vmin;
}

ul > * + * {
  margin-left: 3vmin;
}

nav {
  display: flex;
  padding: 3vmin;
  background: rgba(0, 0, 0, 0.1);
}

nav > * + * {
  margin-left: 3vmin;
}

nav > img[src='./logo.png'] {
  width: 10vmin;
  opacity: 0.2;
}

nav > input {
  flex: 1 1 100%;
  background: rgba(0, 0, 0, 0.2);
  border: 0;
  font-size: 3vmin;
  padding: 2vmin;
  /* text-align: right; */
}
